{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse qui reiciendis tempora vero ipsam aperiam consequuntur tempore corporis, nemo recusandae laborum fuga enim harum minima adipisci! Nostrum deserunt nemo neque.</h1>
<img src="{% static 'images/class2img.png' %}" alt="Image cant be loaded">
<img src="{% static 'images/placement.png' %}" alt="">
<a href="signup">go to login</a>
<a href="login">go to signup</a>
<a href="{% url 'signup' %}">new link</a>
</body>
</html>